@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 2px;
}

body {
  background-color: rgb(0, 11, 26);
}


/* GENERAL */
input[type="text"] {
  padding-left: 12px;
}

::placeholder {
  color: #fff;
}

input:focus::placeholder {
  color: transparent;
}

h1, p, a{
  color: #FFF;
  text-decoration: none;
}

img {
  display: block;
}

.click {
  cursor: pointer;
}


/* NAV */
.web__title {
  font-size: 18px;
}

.nav__container {
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 0 32px;
  z-index: 2;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__bar {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 4px 2px;
  width: 100%;
  max-width: 400px;
  border-radius: 100px;
  transition: all 300ms ease;
}

.search__bar:hover {
  border: 1px solid #ffffff99;
}

.search__bar:focus {
  border: 1px solid #66FCF1;
  outline: none;
}


/* header */
.btn__link {
  background-color: #1F2833;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 8px 16px;
  border-radius: 100px;
  text-decoration: none;
  margin-right: 24px;
  
  transition: all 300ms ease;
}

.btn__link:hover {
  border: 1px solid #000;
  background-color: #FFF;
  color: rgb(0, 11, 26);
}

.btn__link:active {
  box-shadow: 1px 1px 10px 1px #66FCF1;
}

.header__info--container {
  position: absolute;
  top: 150px;
  left: 32px;
  opacity: 1;
  color: #FFF;
}

.header__title {
  width: 100%;
  max-width: 600px;
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 24px;
}


.header__slider {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  filter:brightness(0.6)
}

.header__slider .header__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: slide 20s infinite;
}

.header__slider .header__slide:nth-child(1) {
  background-image: url('./assets/theBatmanImage.jpeg');
  animation-delay: -0;
}

.header__slider .header__slide:nth-child(2) {
  background-image: url('./assets/theSimpsonsimg.jpeg');
  animation-delay: -4s;
}
  
.header__slider .header__slide:nth-child(3) {
  background-image: url('./assets/killBillimg.jpeg');
  animation-delay: -8s;
}
  
.header__slider .header__slide:nth-child(4) {
  background-image: url('./assets/rocky.webp');
  animation-delay: -12s;
}

.header__slider .header__slide:nth-child(5) {
  background-image: url('./assets/theWalkingDead.jpeg');
  animation-delay: -16s;
}

@keyframes slide {
  0%, 15%, 100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  95% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}



/* EXPLORE */
#explore__page {
  background-color: rgb(0, 11, 26);
}

#explore__nav {
  width: 100%;
  box-shadow: 1px 1px 10px 5px #000;
}

.right__nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.nav__link {
  margin: 0 32px;
}

.explore__nav--container {
  position: sticky;
  width: 100%;
  height: 100px;
  padding: 0 32px;
  z-index: 2;
  border-bottom: 1px solid #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explore__header {
  width: 100%;
}

.explore__header--container {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.twd__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.heading__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}

.explore__search--bar {
  position: absolute;
  padding: 12px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #FFF;
  background-color: transparent;
}



/* MOVIE/SHOW */
.container {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 32px;
}

.display--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.movie_show__display {
  width: 20%;
  padding: 24px;
}

.img__wrapper {
  width: 100%;
}

.movie_show__img {
  width: 100%;
}

.movie_show__title,
.movie_show__year,
.type {
  font-size: 16px;
  margin: 8px 0;
}

.books__header {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  padding: 0 24px;
}

#filter,
#type_filter {
  padding: 4px 0;
  background-color: rgb(0, 11, 26);
  border: 1px solid #FFF;
  color: #FFF;
  width: 100%;
  max-width: 125px;
}

#type_filter {
  margin-left: 32px;
}

select:focus {
  outline: none;
}
